*{
  box-sizing: border-box;
}
:root {
  font-family: 'Gotham SSm A', 'Gotham SSm B', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  background: #f9f9f9;
}
a {
  color: #005eb8;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.btn {
  border: 2px solid lightgray;
  background: white;
  font-size: 18px;
  padding: 11px 20px 9px;
  line-height: 1;
  border-radius: 2px;
}
.btn:not([disabled]):hover,
.btn:not([disabled]):focus {
  border-color: #005eb8;
  cursor: pointer;
}
.btn--margin{
  margin: 10px;
}
.btn--accent {
  border-color: #005eb8;
  background-color: #005eb8;
  color: white;
  font-weight: bold;
}
.btn--accent:not([disabled]):hover,
.btn--accent:not([disabled]):focus {
  border-color: #0054a5;
  background: #0054a5;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
.quiz {
  margin-top: 10%;
}
.quiz--mt-sm{
  margin-top: 5%;
}
.quiz__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #005eb8;
  padding: 20px 10px;
  border-radius: 5px;
}
.quiz__header--result{
  background: white;
  border: 1px solid lightgray
}
.quiz__header--result .quiz__title{
  color: #262626;
  margin: 0;
}
.quiz__meta {
  text-align: center;
  background: white;
  color: black;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
  margin: 0;
  line-height: 1;
}
.quiz__meta--mb{
  margin-bottom: 10px; 
}
.quiz__meta-list{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
.quiz__meta-list-item{
  border-right: 2px solid lightgray
}
.quiz__title {
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  color: white;
  margin: 0 auto 10px;
}
.quiz__title--loading {
  margin-bottom: 0;
}

.quiz__title--loading::after {
  display: inline-block;
  animation: ellipsis 1s infinite;
  content: '.';
  width: 1em;
  text-align: left;
}
.quiz__answer-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 10px;
}
.quiz__answer {
  /* border-color: #005eb8; */

  margin-bottom: 10px;
  margin-right: 2.5px;
  margin-left: 2.5px;

  display: block;
  flex: 1 1 305px;

  translate: all 0.2s ease-in-out;
}
.quiz__answer--danger {
  border-color: #b8005f !important;
  background: #b8005f;
  color: white;
}
.quiz__answer--success {
  border-color: #5fb800 !important;
  background: #5fb800;
  color: white;
}
.quiz__action {
  display: flex;
  justify-content: center;
  animation: fade 0.2s;
}
.quiz__action-btn {
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 16px;
}
.footer {
  margin-top: 20px;
  opacity: 1;
  color: gray;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.modal {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: fade 0.2s;
}
.modal--active {
  display: block;
}
.modal__content {
  width: 600px;
  max-width: 90vw;
  background: white;
  padding: 15px 10px;
  border-radius: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;

  font-size: 20px;
  animation: fadeDownModal;
}
.text-center {
  text-align: center;
}
.modal__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  line-height: 1;
}
.modal__action {
  display: flex;
  justify-content: center;
}
.modal__action-btn{
  margin-right: 5px;
  margin-left: 5px;
}


.paper{
  background: white;
  max-width: 400px;
  border-radius: 3px;
  padding: 20px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  font-size: 18px;
  border: 1px solid lightgray;
}
.paper__title{
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
.paper label{
  font-style: italic;
  display: block;
  font-size: 16px;
}
input,select{
  display: block;
  margin-top: 5px;
  border: 1px solid lightgray;
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 3px;
  background: white;
  width: 100%;
  margin-bottom: 15px;
}
.text-center{
  text-align: center;
}

@keyframes ellipsis {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeDownModal {
  0% {
    top: 5%;
  }
  100% {
    top: 10%;
  }
}

